## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On

ExpiresByType font/woff2 "access plus 1 year"
ExpiresByType text/css "access plus 1 week"
ExpiresByType application/pdf A60

ExpiresDefault A2678400
</IfModule>
## EXPIRES CACHING ##

<ifmodule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript image/svg+xml
</ifmodule>