::selection {
	background: #C39482;
}

.pisne {
	font-weight: normal;
	font-style: italic;
	text-align: right;
}

.respons p.respV, .respons p.respO, p.respV, p.respO, .respV, .respO { 
	margin: 0; 
}

.respons p.respV:before, .respV:before { 
	color: #B30000; 
	content: 'V. '; 
}

.respons p.respO:before, .respO:before { 
	color: #B30000; 
	content: 'O. '; 
}

.hymn p { 
	margin: 0; 
	padding-left: 2.4em; 
	text-indent: -2.4em; 
}

.hymn p.last {
	padding-bottom: 1em; 
}

.hymn p.first { 
	padding-top: 1em; 
}

.psalm .psalm-name { 
	color: #B30000; 
	padding-top: 1em; 
	text-align: center; 
}

.psalm .psalm-idea { 
	font-weight: normal; 
	padding-top: 1em; 
	text-align: left; 
}

.psalm .psalm-subtitle { 
	color: #B30000; 
	font-weight: normal; 
	text-align: center; 
}

.psalm p.verse { 
	margin: 0; 
	padding-left: 2.4em; 
	text-indent: -2.4em; 
}

.psalm p.cont { 
	text-indent: -1.2em; 
}

.psalm p.last {
	padding-bottom: 1em; 
}

.psalm p.first { 
	padding-top: 1em; 
}

.psalm p.last:after {
	color: #B30000; 
	content: '\00a0\2014'; 
	font-weight: normal; 
}

p.bibleref {
	color: #B30000;
	font-weight: normal;
	text-align: right;
}

.castmodlitby {
	text-align: center;
	text-transform: uppercase;
}

.red { 
	color: #B30000; 
}

.redsmall { 
	color: #B30000; 
	font-size: 85%; 
	font-weight: normal; 
}

body, html { 
	font-size: 100%; 
	background-color: white;
	color: #000000;
	font-family: 'Noto Serif', serif;
	font-weight: bold; 
	line-height: 1.4;
}

a { 
	border-bottom: 1px dotted; 
	color: #000000; 
	text-decoration: none; 
}

a:hover { 
	background-color: #C39482;
	border: none; 
	color: white; 
	text-decoration: none; 
}

a:active { 
	color: gray; 
	text-decoration: underline; 
}

h2 { 
	font-size: 150%; 
	text-align: center;
}

sup { 
	color: #B30000; 
	font-size: 0.5em; 
	font-weight: normal; 
	position: relative; 
	top: -0.8em; 
	vertical-align: baseline; 
}